<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <title>Photo #<%-id%></title>
</head>

<body>
    <form action="../api/logout" method="post">
        <button class="button" type="submit">logout</button>
    </form> 

<h1>Photo #<%-id%></h1>
<menu>
    <a href="../photos">back to galery</a>
</menu>

<div id="middle">
    <form action="../api/photos/captions/<%-id%>" method="post">
            <label for="caption">Caption: </label>
            <textarea name="caption" rows="4" cols="25"></textarea>
        <button id="button" type="submit">Send new caption</button>
    </form> 
</div>

<div id='end'></div>
</body>

<script>
    let photoObj = {};
    let captionObj = {}
    let id = '<%-id%>';

    let request = new XMLHttpRequest();
    request.open('GET', `../api/photos/${id}`);
    request.responseType = 'json';
    request.send();

    request.onload = async() => {
        photoObj = await request.response;
        console.log(photoObj);
        await printPhoto(photoObj);

    }

    function printPhoto(jsonObj) {
            let newDiv = document.createElement("div");
            newDiv.className = "photos";
            newDiv.id = jsonObj[0]['photo_id'];

            newDiv.innerHTML = `
                <img src='/pic/${jsonObj[0]['photo_id']}.jpg'>
                `;
            document.body.insertBefore(newDiv, document.getElementById("middle")); 
            printCaptions(jsonObj);
    }

    function printCaptions(jsonObj) {
        let newH4 = document.createElement("h4")
        newH4.innerText = "Captions:"
        document.body.insertBefore(newH4, document.getElementById("end"));

        for(let i=0; i<jsonObj.length; i++) {
            let newP = document.createElement("p");

            newP.innerHTML = `<strong>${jsonObj[i].caption_autor}</strong> - ${jsonObj[i].caption}`;
            document.body.insertBefore(newP, document.getElementById("end"));
        }
             
    }
  </script>
</html>